body {
  display: flex;
  justify-content: center;
  align-items: center;
  background: #8ecae6;
  margin: 0;
  padding: 0;
}

.container {
  margin: 30px;
  text-align: center;
  width: 80vw;
  max-width: 500px;
  max-height: 500px;
}

/* Estilos para el tablero */
.game-board {
  display: flex;
  flex-direction: column;
  margin: 20px auto;
  width: 100%;
}
.row {
  display: flex;
}
.cell {
  flex: 1;
  aspect-ratio: 1; /* asegura que la celda siempre sea cuadrada */
  border: 1px solid #000;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #f0f0f0;
}

/* Estilos para los personajes en el tablero */
.cell.kermit {
  background-color: #7fc97f;
}

.cell.piggy {
  background-color: #f4a7b9;
}

.cell.elmo {
  background-color: #ff6f61;
}

.cell.cookie {
  background-color: #f5e05b;
}

.cell.empty {
  background-color: #fff;
}

.cell.wall {
  background-color: #312c2cd3;
}

/* Estilos para las imágenes dentro de las celdas */
.cell img {
  max-width: 80%;
  height: auto;
}

/* Estilos para el botón */
button {
  position: relative;
  margin: 30px;
  padding: 10px 20px;
  border-radius: 7px;
  border: 1px solid rgb(0, 0, 0);
  font-size: 14px;
  text-transform: uppercase;
  font-weight: 600;
  letter-spacing: 2px;
  background: rgba(0, 0, 0, 0.31);
  color: #fff;
  overflow: hidden;
  box-shadow: 0 0 0 0 transparent;
  transition: all 0.2s ease-in;
  cursor: pointer;
}

button:hover {
  background: rgb(0, 0, 0);
  box-shadow: 0 0 30px 5px rgba(204, 195, 195, 0.815);
}

button::before {
  content: "";
  display: block;
  width: 0px;
  height: 86%;
  position: absolute;
  top: 7%;
  left: 0%;
  opacity: 0;
  background: #fff;
  box-shadow: 0 0 50px 30px #fff;
  transform: skewX(-20deg);
}

button:hover::before {
  animation: sh02 0.5s linear;
}

@keyframes sh02 {
  from {
    opacity: 0;
    left: 0%;
  }

  50% {
    opacity: 1;
  }

  to {
    opacity: 0;
    left: 100%;
  }
}

button:active {
  box-shadow: 0 0 0 0 transparent;
}

/* Estilo para el select */
select {
  background-color: #333;
  color: white;
  padding: 10px;
  border: 1px solid rgb(255, 255, 255);
  border-radius: 4px;
  margin: 10px 0;
  font-size: 16px;
}

/* Encabezado centrado */
h1 {
  text-align: center;
}

/* Media Queries para pantallas más pequeñas */
@media (max-width: 768px) {
  .game-board {
    width: 100%;
  }

  .cell {
    min-width: 60px;
    min-height: 60px;
  }

  button {
    font-size: 12px;
    padding: 8px 16px;
  }
}
