/* Variables */
:root {
  --text: #fff;
  --bg: #00161f;
  --primary-btn: #8ecae6;
}

/* General styles */
body {
  background: var(--bg);
  margin: 0;
  padding: 0;
}

.container {
  margin: auto;
  width: 80vw;
}

h1,
h2,
h3,
h4,
p,
ul,
li,
a,
input,
button,
label {
  color: var(--text);
}

h1 {
  text-align: center;
  font-family: "Holtwood One SC", serif;
  font-weight: 400;
}

h2,
h3,
h4,
h5,
h6 {
  font-family: "Pridi", serif;
}

p,
label,
input,
button,
code,
ul,
li {
  font-family: "Nunito Sans", sans-serif;
}

code {
  color: var(--text);
}
